<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodshare.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.foodshare.entity.Image">
    <id column="md5" jdbcType="CHAR" property="md5" />
    <result column="date" jdbcType="CHAR" property="date" />
    <result column="postfix" jdbcType="CHAR" property="postfix" />
  </resultMap>
  <sql id="Base_Column_List">
    md5, date, postfix
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from img
    where md5 = #{md5,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from img
    where md5 = #{md5,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.foodshare.entity.Image">
    insert into img (md5, date, postfix)
    values (#{md5,jdbcType=CHAR}, #{date,jdbcType=CHAR}, #{postfix,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foodshare.entity.Image">
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        md5,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="postfix != null">
        postfix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        #{md5,jdbcType=CHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=CHAR},
      </if>
      <if test="postfix != null">
        #{postfix,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodshare.entity.Image">
    update img
    <set>
      <if test="date != null">
        date = #{date,jdbcType=CHAR},
      </if>
      <if test="postfix != null">
        postfix = #{postfix,jdbcType=CHAR},
      </if>
    </set>
    where md5 = #{md5,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodshare.entity.Image">
    update img
    set date = #{date,jdbcType=CHAR},
      postfix = #{postfix,jdbcType=CHAR}
    where md5 = #{md5,jdbcType=CHAR}
  </update>
</mapper>