<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodshare.mapper.ThreadImgMapper">
  <resultMap id="BaseResultMap" type="com.foodshare.entity.ThreadImgKey">
    <id column="thread_id" jdbcType="BIGINT" property="threadId" />
    <id column="img_md5" jdbcType="CHAR" property="imgMd5" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.foodshare.entity.ThreadImgKey">
    delete from thread_img
    where thread_id = #{threadId,jdbcType=BIGINT}
      and img_md5 = #{imgMd5,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.foodshare.entity.ThreadImgKey">
    insert into thread_img (thread_id, img_md5)
    values (#{threadId,jdbcType=BIGINT}, #{imgMd5,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foodshare.entity.ThreadImgKey">
    insert into thread_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        thread_id,
      </if>
      <if test="imgMd5 != null">
        img_md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="imgMd5 != null">
        #{imgMd5,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>