<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodshare.mapper.ThreadPositionMapper">
  <resultMap id="BaseResultMap" type="com.foodshare.entity.ThreadPosition">
    <id column="thread_id" jdbcType="BIGINT" property="threadId" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="has_coordinate" jdbcType="TINYINT" property="hasCoordinate" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    thread_id, location, longitude, latitude, has_coordinate, shop_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thread_position
    where thread_id = #{threadId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from thread_position
    where thread_id = #{threadId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.foodshare.entity.ThreadPosition">
    insert into thread_position (thread_id, location, longitude, 
      latitude, has_coordinate, shop_id
      )
    values (#{threadId,jdbcType=BIGINT}, #{location,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{hasCoordinate,jdbcType=TINYINT}, #{shopId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.foodshare.entity.ThreadPosition">
    insert into thread_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        thread_id,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="hasCoordinate != null">
        has_coordinate,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="hasCoordinate != null">
        #{hasCoordinate,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodshare.entity.ThreadPosition">
    update thread_position
    <set>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="hasCoordinate != null">
        has_coordinate = #{hasCoordinate,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where thread_id = #{threadId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodshare.entity.ThreadPosition">
    update thread_position
    set location = #{location,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      has_coordinate = #{hasCoordinate,jdbcType=TINYINT},
      shop_id = #{shopId,jdbcType=INTEGER}
    where thread_id = #{threadId,jdbcType=BIGINT}
  </update>
</mapper>